div{
    background-color:rgb(130, 255, 238);
    padding-top: 12px;
    padding-bottom: 12px;

    width: 100%;
    height: 55px;
}

div ul li{
    display: inline-block;
    padding-right: 30px;
    color:rgb(38, 24, 239);
    font-size: 20px;
    font-weight: 600;
    font-style: oblique;
    float: right;
}